[submodule "packages/sdk"]
	path = packages/sdk
	url = https://github.com/TomciusRomcius/quickbaas-sdk
[submodule "apps/backend-core"]
	path = apps/backend-core
	url = https://github.com/TomciusRomcius/quickbaas-backend-core
